header{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #f52c2c; 
}

header h2{  padding-top: 6%    }
header a{ color: #fff;text-decoration: none;font-weight: 600;}
header div{ padding:1%;}