<!-- <header>
    <div class="row">
      <div class="col-md-4">
        <h2><i class="fas fa-home"></i> Admin Panel</h2>
      </div>
      <div class="col-md-1">
        <a href="#">Home</a>
      </div>
      <div class="col-md-1">
        <a href="#">Link2</a>
      </div>
      <div class="col-md-6"></div>
    </div>
  </header> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span>
          <i class="fas fa-home"></i> Admin Panel</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLink]="['/user/home']">
          <a>Grid</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/user/demo-charts']">
          <a>Charts</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/user/gallery']">
          <a>Media</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/user/about']">
          <a>About</a>
        </li>
        <li>
          <a href="javascript:;">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>