<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span>
          <i class="fas fa-home"></i> Admin Panel</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLink]="['/user/home']">
          <a href="javascript:;">Grid</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/user/demo-charts']">
          <a href="javascript:;">Charts</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/user/gallery']">
          <a href="javascript:;">Media</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/user/about']">
          <a href="javascript:;">Comming soon</a>
        </li>
        <li>
          <a href="javascript:;">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:;" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>