/* @import url("../../node_modules/primeicons/primeicons.css");
@import url("../../node_modules/primeng/resources/themes/omega/theme.css");
@import url("../../node_modules/primeng/resources/primeng.min.css"); */


.pull-right{    float: right;   }
.pull-left{    float: left;   }


.container div h2{
    color:#9e9999;
    font-family: Arial, Helvetica, sans-serif;
}
