<div id="home" class="row">
  <div class="col-lg-12 col-md-12 col-xl-12">
    <h2>
      <i class="fas fa-table"></i> All Cities</h2>
  </div>
  <div class="col-lg-12 col-md-12 col-xl-12">
    <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="50" [paginator]="true" [totalRecords]="totalRecords">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" style="background-color: #f52c2c;border-color: #f52c2c ;color: #fff;">
            <div [pSortableColumn]="col.field">
              <span>{{col.header}}</span>
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </div>
            <div style="width: 4%; background-color: #f52c2c;border-color: #f52c2c ;color: #fff;">
                <input pInputText type="text" size="25" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </div>
          </th>
          <th style="width: 4%; background-color: #f52c2c;border-color: #f52c2c ;color: #fff;">
            <span>
              <i class="far fa-file-excel"></i>
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns"> {{rowData[col.field]}}</td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<style>
  .ui-table .ui-widget{
    height: 400px;
  }
  .ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td{
    background-color: #f52c2c !important;
    border-color: #f52c2c !important
  }
  .ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td{
    background-color: #f52c2c !important;
  }
</style>